<!-- {{navbar}} -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- titulo da navbar -->
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">IPTGram</a>
  <!-- botão de colapso da navbar em modo móbile -->
  <button (click)="navbarCollapse = !navbarCollapse" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- corpo da navbar -->
  <div [ngbCollapse]="navbarCollapse" class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/posts" routerLinkActive="active">Lista de posts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre</a>
      </li>
    </ul>
  </div>
</nav>
<!-- {{corpo / páginas do site}} -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <!-- {{onde as páginas do route irão ser aplicadas}} -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>